In [176]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.preprocessing import StandardScaler

In [177]:
dados = pd.read_csv(
    r"D:\deltalakeapps\excelfiles\vendas2008.csv"
    ,sep=";")
dados.dropna(inplace=True)

In [178]:
dados.dtypes

vl_orcamento         float64
id_quote              object
convertido             int64
periodo_mes            int64
id_especificador      object
ds_tipo_obra          object
promocional            int64
qt_itens               int64
vl_orcamento.1       float64
vl_frete             float64
REVESTIMENTO          object
LOUCAS_METAIS         object
ARGAMASSA_REJUNTE     object
dtype: object

In [179]:
dados.head(3)

,vl_orcamento,id_quote,convertido,periodo_mes,id_especificador,ds_tipo_obra,promocional,qt_itens,vl_orcamento.1,vl_frete,REVESTIMENTO,LOUCAS_METAIS,ARGAMASSA_REJUNTE
0,15679.40,0Q03s000000GRo9CAG,1,1,0013s000011bE6KAAU,Reforma,1,3,15679.40,300.0,S,N,S
1,3946.63,0Q03s000000GRoYCAW,1,1,0013s000018c3eaAAA,Reforma,1,1,3946.63,125.0,S,N,N
2,2144.96,0Q03s000000GRodCAG,1,1,0011I00000UeRIlQAN,Nova Obra,1,1,2144.96,0.0,S,N,N

In [180]:
dados.columns

Index(['vl_orcamento', 'id_quote', 'convertido', 'periodo_mes',
       'id_especificador', 'ds_tipo_obra', 'promocional', 'qt_itens',
       'vl_orcamento.1', 'vl_frete', 'REVESTIMENTO', 'LOUCAS_METAIS',
       'ARGAMASSA_REJUNTE'],
      dtype='object')

In [181]:

dados.columns = dados.columns.str.lower()

dados.rename(columns={
    'vl_orcamento': 'vl_orcamento',
    'id_quote': 'id_quote',
    'convertido': 'convertido',
    'periodo_mes': 'periodo_mes',
    'id_especificador': 'id_especificador',
    'ds_tipo_obra': 'ds_tipo_obra',
    'promocional': 'promocional',
    'qt_itens': 'qt_itens',
    'vl_orcamento.1': 'vl_orcamento_1',
    'vl_frete': 'vl_frete',
    'REVESTIMENTO': 'revestimento',
    'LOUCAS_METAIS': 'loucas_metais',
    'ARGAMASSA_REJUNTE': 'argamassa_rejunte'
}, inplace=True)

In [182]:
count_ds_tipo_obra = dados['ds_tipo_obra'].value_counts().reset_index()
count_ds_tipo_obra

  ds_tipo_obra  count
0      Reforma     43
1    Nova Obra     35

In [183]:
count_ds_tipo_obra.columns = ['ds_tipo_obra', 'ds_tipo_obra_count']

df = dados.merge(count_ds_tipo_obra, on='ds_tipo_obra', how='left')

In [184]:
df

,vl_orcamento,id_quote,convertido,periodo_mes,id_especificador,ds_tipo_obra,promocional,qt_itens,vl_orcamento_1,vl_frete,revestimento,loucas_metais,argamassa_rejunte,ds_tipo_obra_count
0,15679.40,0Q03s000000GRo9CAG,1,1,0013s000011bE6KAAU,Reforma,1,3,15679.40,300.00,S,N,S,43
1,3946.63,0Q03s000000GRoYCAW,1,1,0013s000018c3eaAAA,Reforma,1,1,3946.63,125.00,S,N,N,43
2,2144.96,0Q03s000000GRodCAG,1,1,0011I00000UeRIlQAN,Nova Obra,1,1,2144.96,0.00,S,N,N,35
3,15010.43,0Q03s000000GRs1CAG,1,1,0013s00001A6i3MAAR,Nova Obra,1,5,15010.43,550.00,S,N,N,35
4,2620.77,0Q03s000000GRs6CAG,1,1,0011I00000UeF6FQAV,Reforma,1,1,2620.77,0.00,S,N,N,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2745.61,0Q03s000000GSZUCA14,1,1,0011I00000UgtLHQAZ,Nova Obra,1,97,2745.61,0.10,S,N,N,35
74,1930.26,0Q03s000000GSaICAW,1,1,0011I00000v32aZQAQ,Reforma,1,101,1930.26,150.08,S,N,S,43
75,2745.60,0Q03s000000GSZUCA13,1,1,0011I00000UgtLHQAZ,Nova Obra,1,105,2745.60,0.09,S,N,N,35
76,1930.27,0Q03s000000GSaICAW,1,1,0011I00000v32aZQAQ,Reforma,1,109,1930.27,150.09,S,N,S,43
77,2745.61,0Q03s000000GSZUCA14,1,1,0011I00000UgtLHQAZ,Nova Obra,1,113,2745.61,0.10,S,N,N,35

In [185]:

categorical_columns = df.select_dtypes(include=[object]).columns

onehot_encoder = OneHotEncoder(sparse=False, drop='first')
onehot_encoded = onehot_encoder.fit_transform(df[categorical_columns])


onehot_df = pd.DataFrame(onehot_encoded, columns=onehot_encoder.get_feature_names_out(categorical_columns))


df = df.drop(columns=categorical_columns)


df = pd.concat([df, onehot_df], axis=1)
df

d:\deltalakeapps\venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,vl_orcamento,convertido,periodo_mes,promocional,qt_itens,vl_orcamento_1,vl_frete,ds_tipo_obra_count,id_quote_0Q03s000000GRoYCAW,id_quote_0Q03s000000GRodCAG,...,id_especificador_0013s00001AwfPmAAJ,id_especificador_0013s00001BSMUhAAP,id_especificador_0013s00001BSu2iAAD,id_especificador_0013s00001D2eAxAAJ,id_especificador_0013s00001Dk43NAAR,id_especificador_0013s00001DkWqxAAF,ds_tipo_obra_Reforma,revestimento_S,loucas_metais_S,argamassa_rejunte_S
0,15679.40,1,1,1,3,15679.40,300.00,43,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,3946.63,1,1,1,1,3946.63,125.00,43,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,2144.96,1,1,1,1,2144.96,0.00,35,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,15010.43,1,1,1,5,15010.43,550.00,35,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2620.77,1,1,1,1,2620.77,0.00,43,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2745.61,1,1,1,97,2745.61,0.10,35,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
74,1930.26,1,1,1,101,1930.26,150.08,43,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
75,2745.60,1,1,1,105,2745.60,0.09,35,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
76,1930.27,1,1,1,109,1930.27,150.09,43,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
77,2745.61,1,1,1,113,2745.61,0.10,35,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [186]:


categorical_columns = df.select_dtypes(include=[object]).columns

onehot_encoder = OneHotEncoder(sparse=False, drop='first')
onehot_encoded = onehot_encoder.fit_transform(df[categorical_columns])

onehot_df = pd.DataFrame(onehot_encoded, columns=onehot_encoder.get_feature_names_out(categorical_columns))

df = df.drop(columns=categorical_columns)
df = pd.concat([df, onehot_df], axis=1)


X = df.drop(columns=['convertido'])
y = df['convertido']

"""dados  (80% treinamento, 20% teste)"""
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)


model = keras.Sequential()
model.add(layers.Dense(128, activation='relu', input_dim=X_train.shape[1]))
model.add(layers.Dense(128, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2)

y_prob = model.predict(X_test)


results = pd.DataFrame({
    'convertido': y_test,
    'promocional': df.loc[y_test.index, 'promocional'],
    'ds_tipo_obra_count': df.loc[y_test.index, 'ds_tipo_obra_count'],
    'Probabilidade_Convertido_1': y_prob.flatten()
})

valor = results.columns = ['convertido', 'promocional', 'ds_tipo_obra_count', 'Probabilidade_Convertido_1']

print(results)

Epoch 1/100

d:\deltalakeapps\venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

2/2 [==============================] - 1s 170ms/step - loss: 0.8812 - accuracy: 0.2449 - val_loss: 0.6298 - val_accuracy: 0.8462
Epoch 2/100
2/2 [==============================] - 0s 31ms/step - loss: 0.5265 - accuracy: 0.8980 - val_loss: 0.4191 - val_accuracy: 1.0000
Epoch 3/100
2/2 [==============================] - 0s 28ms/step - loss: 0.3154 - accuracy: 1.0000 - val_loss: 0.2808 - val_accuracy: 1.0000
Epoch 4/100
2/2 [==============================] - 0s 26ms/step - loss: 0.1944 - accuracy: 1.0000 - val_loss: 0.1908 - val_accuracy: 1.0000
Epoch 5/100
2/2 [==============================] - 0s 32ms/step - loss: 0.1242 - accuracy: 1.0000 - val_loss: 0.1323 - val_accuracy: 1.0000
Epoch 6/100
2/2 [==============================] - 0s 30ms/step - loss: 0.0816 - accuracy: 1.0000 - val_loss: 0.0941 - val_accuracy: 1.0000
Epoch 7/100
2/2 [==============================] - 0s 30ms/step - loss: 0.0562 - accuracy: 1.0000 - val_loss: 0.0686 - val_accuracy: 1.0000
Epoch 8/100
2/2 [==============================] - 0s 29ms/step - loss: 0.0392 - accuracy: 1.0000 - val_loss: 0.0509 - val_accuracy: 1.0000
Epoch 9/100
2/2 [==============================] - 0s 30ms/step - loss: 0.0284 - accuracy: 1.0000 - val_loss: 0.0384 - val_accuracy: 1.0000
Epoch 10/100
2/2 [==============================] - 0s 30ms/step - loss: 0.0209 - accuracy: 1.0000 - val_loss: 0.0294 - val_accuracy: 1.0000
Epoch 11/100
2/2 [==============================] - 0s 29ms/step - loss: 0.0157 - accuracy: 1.0000 - val_loss: 0.0229 - val_accuracy: 1.0000
Epoch 12/100
2/2 [==============================] - 0s 26ms/step - loss: 0.0117 - accuracy: 1.0000 - val_loss: 0.0183 - val_accuracy: 1.0000
Epoch 13/100
2/2 [==============================] - 0s 27ms/step - loss: 0.0091 - accuracy: 1.0000 - val_loss: 0.0148 - val_accuracy: 1.0000
Epoch 14/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0070 - accuracy: 1.0000 - val_loss: 0.0122 - val_accuracy: 1.0000
Epoch 15/100
2/2 [==============================] - 0s 20ms/step - loss: 0.0056 - accuracy: 1.0000 - val_loss: 0.0103 - val_accuracy: 1.0000
Epoch 16/100
2/2 [==============================] - 0s 27ms/step - loss: 0.0046 - accuracy: 1.0000 - val_loss: 0.0088 - val_accuracy: 1.0000
Epoch 17/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0038 - accuracy: 1.0000 - val_loss: 0.0076 - val_accuracy: 1.0000
Epoch 18/100
2/2 [==============================] - 0s 25ms/step - loss: 0.0032 - accuracy: 1.0000 - val_loss: 0.0068 - val_accuracy: 1.0000
Epoch 19/100
2/2 [==============================] - 0s 28ms/step - loss: 0.0027 - accuracy: 1.0000 - val_loss: 0.0060 - val_accuracy: 1.0000
Epoch 20/100
2/2 [==============================] - 0s 26ms/step - loss: 0.0024 - accuracy: 1.0000 - val_loss: 0.0055 - val_accuracy: 1.0000
Epoch 21/100
2/2 [==============================] - 0s 28ms/step - loss: 0.0021 - accuracy: 1.0000 - val_loss: 0.0050 - val_accuracy: 1.0000
Epoch 22/100
2/2 [==============================] - 0s 16ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 0.0047 - val_accuracy: 1.0000
Epoch 23/100
2/2 [==============================] - 0s 24ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 0.0044 - val_accuracy: 1.0000
Epoch 24/100
2/2 [==============================] - 0s 27ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 0.0041 - val_accuracy: 1.0000
Epoch 25/100
2/2 [==============================] - 0s 26ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 0.0039 - val_accuracy: 1.0000
Epoch 26/100
2/2 [==============================] - 0s 30ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0037 - val_accuracy: 1.0000
Epoch 27/100
2/2 [==============================] - 0s 25ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0036 - val_accuracy: 1.0000
Epoch 28/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 0.0034 - val_accuracy: 1.0000
Epoch 29/100
2/2 [==============================] - 0s 18ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 30/100
2/2 [==============================] - 0s 35ms/step - loss: 9.9044e-04 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 31/100
2/2 [==============================] - 0s 29ms/step - loss: 9.4963e-04 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 32/100
2/2 [==============================] - 0s 12ms/step - loss: 9.0099e-04 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 33/100
2/2 [==============================] - 0s 26ms/step - loss: 8.6208e-04 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 34/100
2/2 [==============================] - 0s 32ms/step - loss: 8.2663e-04 - accuracy: 1.0000 - val_loss: 0.0029 - val_accuracy: 1.0000
Epoch 35/100
2/2 [==============================] - 0s 26ms/step - loss: 7.9654e-04 - accuracy: 1.0000 - val_loss: 0.0028 - val_accuracy: 1.0000
Epoch 36/100
2/2 [==============================] - 0s 32ms/step - loss: 7.6691e-04 - accuracy: 1.0000 - val_loss: 0.0028 - val_accuracy: 1.0000
Epoch 37/100
2/2 [==============================] - 0s 25ms/step - loss: 7.4012e-04 - accuracy: 1.0000 - val_loss: 0.0027 - val_accuracy: 1.0000
Epoch 38/100
2/2 [==============================] - 0s 17ms/step - loss: 7.1480e-04 - accuracy: 1.0000 - val_loss: 0.0027 - val_accuracy: 1.0000
Epoch 39/100
2/2 [==============================] - 0s 30ms/step - loss: 6.9069e-04 - accuracy: 1.0000 - val_loss: 0.0026 - val_accuracy: 1.0000
Epoch 40/100
2/2 [==============================] - 0s 35ms/step - loss: 6.7147e-04 - accuracy: 1.0000 - val_loss: 0.0026 - val_accuracy: 1.0000
Epoch 41/100
2/2 [==============================] - 0s 21ms/step - loss: 6.5114e-04 - accuracy: 1.0000 - val_loss: 0.0025 - val_accuracy: 1.0000
Epoch 42/100
2/2 [==============================] - 0s 13ms/step - loss: 6.3247e-04 - accuracy: 1.0000 - val_loss: 0.0025 - val_accuracy: 1.0000
Epoch 43/100
2/2 [==============================] - 0s 25ms/step - loss: 6.1488e-04 - accuracy: 1.0000 - val_loss: 0.0025 - val_accuracy: 1.0000
Epoch 44/100
2/2 [==============================] - 0s 29ms/step - loss: 5.9686e-04 - accuracy: 1.0000 - val_loss: 0.0024 - val_accuracy: 1.0000
Epoch 45/100
2/2 [==============================] - 0s 24ms/step - loss: 5.8210e-04 - accuracy: 1.0000 - val_loss: 0.0024 - val_accuracy: 1.0000
Epoch 46/100
2/2 [==============================] - 0s 19ms/step - loss: 5.6614e-04 - accuracy: 1.0000 - val_loss: 0.0024 - val_accuracy: 1.0000
Epoch 47/100
2/2 [==============================] - 0s 15ms/step - loss: 5.5134e-04 - accuracy: 1.0000 - val_loss: 0.0023 - val_accuracy: 1.0000
Epoch 48/100
2/2 [==============================] - 0s 40ms/step - loss: 5.3706e-04 - accuracy: 1.0000 - val_loss: 0.0023 - val_accuracy: 1.0000
Epoch 49/100
2/2 [==============================] - 0s 28ms/step - loss: 5.2402e-04 - accuracy: 1.0000 - val_loss: 0.0023 - val_accuracy: 1.0000
Epoch 50/100
2/2 [==============================] - 0s 15ms/step - loss: 5.1120e-04 - accuracy: 1.0000 - val_loss: 0.0023 - val_accuracy: 1.0000
Epoch 51/100
2/2 [==============================] - 0s 17ms/step - loss: 4.9872e-04 - accuracy: 1.0000 - val_loss: 0.0022 - val_accuracy: 1.0000
Epoch 52/100
2/2 [==============================] - 0s 26ms/step - loss: 4.8732e-04 - accuracy: 1.0000 - val_loss: 0.0022 - val_accuracy: 1.0000
Epoch 53/100
2/2 [==============================] - 0s 18ms/step - loss: 4.7636e-04 - accuracy: 1.0000 - val_loss: 0.0022 - val_accuracy: 1.0000
Epoch 54/100
2/2 [==============================] - 0s 34ms/step - loss: 4.6410e-04 - accuracy: 1.0000 - val_loss: 0.0022 - val_accuracy: 1.0000
Epoch 55/100
2/2 [==============================] - 0s 40ms/step - loss: 4.5350e-04 - accuracy: 1.0000 - val_loss: 0.0021 - val_accuracy: 1.0000
Epoch 56/100
2/2 [==============================] - 0s 20ms/step - loss: 4.4344e-04 - accuracy: 1.0000 - val_loss: 0.0021 - val_accuracy: 1.0000
Epoch 57/100
2/2 [==============================] - 0s 40ms/step - loss: 4.3297e-04 - accuracy: 1.0000 - val_loss: 0.0021 - val_accuracy: 1.0000
Epoch 58/100
2/2 [==============================] - 0s 10ms/step - loss: 4.2492e-04 - accuracy: 1.0000 - val_loss: 0.0021 - val_accuracy: 1.0000
Epoch 59/100
2/2 [==============================] - 0s 21ms/step - loss: 4.1463e-04 - accuracy: 1.0000 - val_loss: 0.0020 - val_accuracy: 1.0000
Epoch 60/100
2/2 [==============================] - 0s 33ms/step - loss: 4.0526e-04 - accuracy: 1.0000 - val_loss: 0.0020 - val_accuracy: 1.0000
Epoch 61/100
2/2 [==============================] - 0s 32ms/step - loss: 3.9646e-04 - accuracy: 1.0000 - val_loss: 0.0020 - val_accuracy: 1.0000
Epoch 62/100
2/2 [==============================] - 0s 15ms/step - loss: 3.8846e-04 - accuracy: 1.0000 - val_loss: 0.0020 - val_accuracy: 1.0000
Epoch 63/100
2/2 [==============================] - 0s 16ms/step - loss: 3.7927e-04 - accuracy: 1.0000 - val_loss: 0.0020 - val_accuracy: 1.0000
Epoch 64/100
2/2 [==============================] - 0s 37ms/step - loss: 3.7212e-04 - accuracy: 1.0000 - val_loss: 0.0019 - val_accuracy: 1.0000
Epoch 65/100
2/2 [==============================] - 0s 36ms/step - loss: 3.6378e-04 - accuracy: 1.0000 - val_loss: 0.0019 - val_accuracy: 1.0000
Epoch 66/100
2/2 [==============================] - 0s 33ms/step - loss: 3.5669e-04 - accuracy: 1.0000 - val_loss: 0.0019 - val_accuracy: 1.0000
Epoch 67/100
2/2 [==============================] - 0s 32ms/step - loss: 3.4910e-04 - accuracy: 1.0000 - val_loss: 0.0019 - val_accuracy: 1.0000
Epoch 68/100
2/2 [==============================] - 0s 32ms/step - loss: 3.4212e-04 - accuracy: 1.0000 - val_loss: 0.0019 - val_accuracy: 1.0000
Epoch 69/100
2/2 [==============================] - 0s 24ms/step - loss: 3.3472e-04 - accuracy: 1.0000 - val_loss: 0.0018 - val_accuracy: 1.0000
Epoch 70/100
2/2 [==============================] - 0s 23ms/step - loss: 3.2827e-04 - accuracy: 1.0000 - val_loss: 0.0018 - val_accuracy: 1.0000
Epoch 71/100
2/2 [==============================] - 0s 35ms/step - loss: 3.2195e-04 - accuracy: 1.0000 - val_loss: 0.0018 - val_accuracy: 1.0000
Epoch 72/100
2/2 [==============================] - 0s 29ms/step - loss: 3.1552e-04 - accuracy: 1.0000 - val_loss: 0.0018 - val_accuracy: 1.0000
Epoch 73/100
2/2 [==============================] - 0s 25ms/step - loss: 3.0929e-04 - accuracy: 1.0000 - val_loss: 0.0018 - val_accuracy: 1.0000
Epoch 74/100
2/2 [==============================] - 0s 17ms/step - loss: 3.0406e-04 - accuracy: 1.0000 - val_loss: 0.0018 - val_accuracy: 1.0000
Epoch 75/100
2/2 [==============================] - 0s 37ms/step - loss: 2.9728e-04 - accuracy: 1.0000 - val_loss: 0.0017 - val_accuracy: 1.0000
Epoch 76/100
2/2 [==============================] - 0s 29ms/step - loss: 2.9218e-04 - accuracy: 1.0000 - val_loss: 0.0017 - val_accuracy: 1.0000
Epoch 77/100
2/2 [==============================] - 0s 42ms/step - loss: 2.8666e-04 - accuracy: 1.0000 - val_loss: 0.0017 - val_accuracy: 1.0000
Epoch 78/100
2/2 [==============================] - 0s 37ms/step - loss: 2.8169e-04 - accuracy: 1.0000 - val_loss: 0.0017 - val_accuracy: 1.0000
Epoch 79/100
2/2 [==============================] - 0s 33ms/step - loss: 2.7585e-04 - accuracy: 1.0000 - val_loss: 0.0017 - val_accuracy: 1.0000
Epoch 80/100
2/2 [==============================] - 0s 27ms/step - loss: 2.7116e-04 - accuracy: 1.0000 - val_loss: 0.0017 - val_accuracy: 1.0000
Epoch 81/100
2/2 [==============================] - 0s 25ms/step - loss: 2.6564e-04 - accuracy: 1.0000 - val_loss: 0.0017 - val_accuracy: 1.0000
Epoch 82/100
2/2 [==============================] - 0s 25ms/step - loss: 2.6141e-04 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 83/100
2/2 [==============================] - 0s 32ms/step - loss: 2.5699e-04 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 84/100
2/2 [==============================] - 0s 21ms/step - loss: 2.5209e-04 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 85/100
2/2 [==============================] - 0s 35ms/step - loss: 2.4749e-04 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 86/100
2/2 [==============================] - 0s 20ms/step - loss: 2.4325e-04 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 87/100
2/2 [==============================] - 0s 15ms/step - loss: 2.3909e-04 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 88/100
2/2 [==============================] - 0s 26ms/step - loss: 2.3513e-04 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 89/100
2/2 [==============================] - 0s 32ms/step - loss: 2.3103e-04 - accuracy: 1.0000 - val_loss: 0.0016 - val_accuracy: 1.0000
Epoch 90/100
2/2 [==============================] - 0s 35ms/step - loss: 2.2701e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 91/100
2/2 [==============================] - 0s 30ms/step - loss: 2.2370e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 92/100
2/2 [==============================] - 0s 32ms/step - loss: 2.1983e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 93/100
2/2 [==============================] - 0s 32ms/step - loss: 2.1634e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 94/100
2/2 [==============================] - 0s 27ms/step - loss: 2.1300e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 95/100
2/2 [==============================] - 0s 12ms/step - loss: 2.0934e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 96/100
2/2 [==============================] - 0s 28ms/step - loss: 2.0618e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 97/100
2/2 [==============================] - 0s 30ms/step - loss: 2.0274e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 98/100
2/2 [==============================] - 0s 27ms/step - loss: 1.9981e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 99/100
2/2 [==============================] - 0s 28ms/step - loss: 1.9666e-04 - accuracy: 1.0000 - val_loss: 0.0015 - val_accuracy: 1.0000
Epoch 100/100
2/2 [==============================] - 0s 27ms/step - loss: 1.9371e-04 - accuracy: 1.0000 - val_loss: 0.0014 - val_accuracy: 1.0000
1/1 [==============================] - 0s 47ms/step
    convertido  promocional  ds_tipo_obra_count  Probabilidade_Convertido_1
33           1            1                  43                    0.999950
0            1            1                  43                    0.973518
34           1            1                  43                    0.963003
12           1            1                  35                    0.985362
10           1            1                  43                    0.991151
77           1            1                  35                    0.999912
30           1            1                  35                    0.983405
4            1            1                  43                    0.978498
49           1            1                  35                    0.990267
66           1            1                  43                    0.999528
61           1            1                  35                    0.991876
22           1            1                  35                    0.976173
72           1            1                  43                    0.999630
54           1            1                  43                    0.999292
18           1            1                  43                    0.979333
44           1            1                  43                    0.978532

In [187]:
results

    convertido  promocional  ds_tipo_obra_count  Probabilidade_Convertido_1
33           1            1                  43                    0.999950
0            1            1                  43                    0.973518
34           1            1                  43                    0.963003
12           1            1                  35                    0.985362
10           1            1                  43                    0.991151
77           1            1                  35                    0.999912
30           1            1                  35                    0.983405
4            1            1                  43                    0.978498
49           1            1                  35                    0.990267
66           1            1                  43                    0.999528
61           1            1                  35                    0.991876
22           1            1                  35                    0.976173
72           1            1                  43                    0.999630
54           1            1                  43                    0.999292
18           1            1                  43                    0.979333
44           1            1                  43                    0.978532